@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Collabothon 2017 - mBot Team</h1>
    <p class="lead">This is a competition, so we do not take any prisoners!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How do we work?</h2>
        <p>
            <img src="~/Content/minion_nokeyframerig_old-pc.gif" style="width: 300px"/>
        </p>
    </div>
    <div class="col-md-4">
        <h2>How do we get ideas?</h2>
        <p>
            <img src="~/Content/minion_work.gif" style="width: 300px" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>How do we present ourselves?</h2>
        <p>
            <img src="~/Content/minion_presenting.gif" style="width: 300px" />
        </p>
    </div>
</div>